$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;

// header{
//     border: black solid 2px;
// }
a {
    color: $byui-blue;
  }
.site-banner__left {
  background-color: $byui-blue;
  color: rgb(255, 255, 255);
}

.site-banner__left {
  .icon-byui-logo {
    background-color: black;
    color: rgb(255, 255, 255);
  }
}

.white-text,
.text-white {
  color: rgb(255, 255, 255);
}
.site-banner__title {
  background-color: $med-gray;
  color: $dark-gray;
}
input[type="submit"] {
  background-color: $link-blue;
  color: $light-gray;
}
input[type="submit"]:hover {
  background-color: $byui-blue;
}
.site-article-title {
  background-color: $body-font;
  color: #eaeaea;
}

.pharagrap-newsroom {
  color: $dark-gray;
}
.site-section-information {
  .site-article-get-information {
    select {
      background-color: $light-gray;
      option {
        color: #0076b6;
      }
      :hover {
        cursor: pointer;
      }
    }
  }
  .site-article-resources {
      padding-top: 3em;
    h3 {
      background-color: $dark-gray;
      color: white;
    }
    ul {
        li{
            border: 1px solid $dark-gray;
        }
        li:hover{
            background-color: $light-gray;
            cursor: pointer;
        }
    }

  }
  

  .site-article-important-dates{
      padding-top: 3em;
      padding-bottom: 3em;
      h3{

          background-color: $byui-blue;
          color:white;
        }
        div{
            border-bottom: solid 1px $med-gray;
            a{
                color:#020202;
            }
        }
    }
    .site-article-new{
        border: solid 1px $med-gray;
    }
}
.site-article-newsroom {
  .article-newsroom {
    border-top: $dark-gray solid 1px;
  }
}
