.site-banner{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr ;
}
.site-banner__left{
    grid-row: 1;
    grid-column: 1/9;
    height: 70px;
    .icon-byui-logo{
        position: absolute;
        margin-bottom: 0;
    }
    a{
        font-size: 40px;
        span{
            padding: 15px;
        }
    }
    h1{
        display: none;
    }
    

}
.site-banner__right{
    position: relative;
    grid-row: 1;
    grid-column-start: 5;
    grid-column-end: 9;
    margin-bottom: 0;
    text-align: center;
    a{
        font-size: 2em;   
    }


}
.site-banner__title{
    grid-column-start:1;
    grid-column-end: 9;
}
form{
    display: none;
}